<% if @have.id || nil %>
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href=<%= zaikos_path(@user) %> class="nav-link <%= 'active' if current_page?(zaikos_path(@user)) %>">Ｚａｉｋｏ</a></li>
        <li class="nav-item"><a href=<%= add_zaiko_path(@user) %> class="nav-link <%= 'active' if current_page?(add_zaiko_path(@user)) %>" data-turbolinks="false">新規作成</a></li>
        <li class="nav-item"><a href=<%= graph_zaiko_path(@user) %> class="nav-link <%= 'active' if current_page?(graph_zaiko_path(@user)) %>" data-turbolinks="false")>推移</a></li>
        <li class="nav-item"><a href=<%= order_zaiko_path(@user) %> class="nav-link <%= 'active' if current_page?(order_zaiko_path(@user)) %>" data-turbolinks="false")>注文</a></li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-justified mb-12">
        <li class="nav-item"><a href=<%= add_zaiko_path(@user) %> class="nav-link <%= 'active' if current_page?(add_zaiko_path(@user)) %>">新規作成</a></li>
      </ul>
    </div>
  </div>
<% end %>