<%= render 'zaikos/nav-item' %>

<% @zaikos.each do |zaiko| %>
  <table class="table table-striped table-bordered" style="table-layout:fixed;">
    <tr class="text-center">
    <% if zaiko.id || nil %>
      <% if zaiko.image_name? %>
        <td class="text-center align-middle" style="width:15%"><%= image_tag(zaiko.image_name.url, size: "90%" ) %></td>
      <% else %>
        <td class="text-center align-middle" style="width:15%"><%= image_tag("default.jpg", size: "90%" ) %></td>
    <% end %>
    <td class="text-center align-middle" style="width:15%"><%= zaiko.content %></td>
    <td id="number_<%= zaiko.id %>" class="text-center align-middle" style="width:15%"><%= zaiko.number %>個</td>
    <td class="text-center align-middle my-gray" style="width:15%"><%= link_to zaiko_path(id: zaiko.id, num: 1), method: :put, remote: true do%>
      <i class="far fa-plus-square fa-4x"></i>
    <% end %></td>
    <td class="text-center align-middle minus_icon no_padding" style="width:15%"><%= link_to zaiko_path(id: zaiko.id, num: -1), method: :put, remote: true do%>
     <i class="far fa-minus-square fa-4x"></i>
    <% end %></td>
    <td class="text-center align-middle delete_icon no_padding" style="width:15%"><%= link_to zaiko, method: :delete, data: { confirm: "削除してもよろしいですか？" } do%>
       <i class="far fa-trash-alt fa-4x"></i>
    <% end %></td>
    <% end %>
    </tr>
  </table>
<% end %>

