<%= render 'zaikos/nav-item' %>

<% @zaikos.each do |zaiko| %>
  <% if zaiko.id || nil %>
  <h5 class="text-center mt-3 mb-3"><%= zaiko.content %></h5>
    <% @items = RakutenWebService::Ichiba::Item.search(keyword: zaiko.content) %>
    <%#　@items = RakutenWebService::Ichiba::Item.search(keyword: zaiko.content, sort: "+updateTimestamp" )　←ソートする場合はこれ使う。価格でソートするとあまり良くない・・・%>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center align-middle" style="width:15%">画像</th>
          <th class="text-center align-middle" style="width:15%">商品名</th>
          <th class="text-center align-middle" style="width:15%">価格</th>
        </tr>
      </thead>
    <tbody>
      <% if @items.present? %>
        <% @items.first(5).each do |item| %>
          <tr>
            <td class="text-center align-middle" style="width:15%"><img src="<%= item['mediumImageUrls'][0] %>"></td>
            <td class="text-center align-middle" style="width:15%"><%= link_to item.name, "#{item.url}" ,target: :_blan%></td>
            <td class="text-center align-middle" style="width:15%"><%= number_with_delimiter(item.price) %>円</td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="mt-2 mb-5"><%= image_tag("line.png",class: "gif") %></div>
<% end %>
<% end %>

<div class="form-group row justify-content-center mt-5">
  <% title = "注文に関して" %>
  <% data = "商品名を押していただくと、その商品の楽天ページへ飛び購入することができます。<br>（楽天の会員登録等が必要です）" %>
  <button type="button" id="hoge" class="btn btn-lg btn-info " data-toggle="popover" data-placement="bottom" data-container="body" data-html="true" title=<%= title %> data-content=<%= data %>>
    HELP
  </button>
</div>

<script>
  $(function() {
    $('#hoge').popover({
      trigger: 'hover', // click,hover,focus,manualを選択出来る
    });
  });
</script>