<div class="text-center mb-5">
  <h1>アカウントを作成</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group mt-3 mb-4">
        <%= f.text_field :name, class: 'form-control', placeholder: "ユーザー名" %>
      </div>

      <div class="form-group mb-4">
        <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレス' %>
      </div>

      <div class="form-group mb-4">
        <%= f.password_field :password, class: 'form-control', placeholder: 'パスワード' %>
      </div>

      <div class="form-group mb-5">
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'パスワード' %>
      </div>

      <%= f.submit '新規登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>