<div class="row main">
  <div class="col-sm-12 title">
    <h1 class="text-center mb-5">Ｚａｉｋｏ</h1>
    <p class="text-center mt-5 mb-5">家やオフィスの在庫を管理しよう</p>
    <p class="text-center"><%= link_to("新しくはじめる",signup_path, class: "btn btn-info") %></p>
  </div>
</div>


<div class="mt-2 mb-2"><%= image_tag("line.png",class: "gif") %></div>
<h5 class="text-center">「あれ何個あったっけ」をなくす</h5>
<div class="mt-2 mb-2"><%= image_tag("top.PNG",class: "gif") %></div>
<div class="mt-2 mb-2"><%= image_tag("line.png",class: "gif") %></div>
<h5 class="text-center">直感的な操作</h5>
<div class="mt-2 mb-2"><%= image_tag("top2.gif",class: "gif") %></div>
<div class="mt-2 mb-2"><%= image_tag("line.png",class: "gif") %></div>
<h5 class="text-center">グラフで推移を把握</h5>
<div class="mt-2 mb-2"><%= image_tag("graph.PNG",class: "gif") %></div>
<h5 class="text-center">商品を購入</h5>
<div class="mt-2 mb-2"><%= image_tag("order.gif",class: "gif") %></div>
<div class="mt-2 mb-2"><%= image_tag("line.png",class: "gif") %></div>